h1 {
  text-align: left;
  margin-left: 15%;
  margin-right: 15%;
}

.checkout-container {
  width: 70%;
  margin: auto;
  display: flex;
  min-height: 30rem;
  gap: 2rem;

  .checkout-form-container {
    border: 1px solid green;
    width: 70%;
    padding-bottom: 2rem;
  }

  .checkout-products-container {
    width: 30%;

    h3 {
      text-align: left;
    }

    .checkout-products {
      display: flex;
      flex-direction: column;

      .checkout-products-rows {
        display: flex;
        column-gap: 1rem;
        align-items: center;

        img {
          width: 20%;
          height: 20%;
          object-fit: cover;
          aspect-ratio: 1 / 1;
        }
      }
    }

    .checkout-products-amount {
      display: flex;
      align-items: center;
      gap: 0.3rem;
      margin-left: 1rem;

      button {
        height: 3dvh;
        width: 3dvh;
        margin: 0;
        padding: 0;
      }
    }
  }

  .checkout-total-price {
    text-align: left;
  }







  form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem 2rem;
    margin: 2dvh auto auto auto;
    width: 90%;

    .button-container {
      width: 70%;

      button {
        background-color: green;
      }
    }

    div {
      input {
        width: 15dvw;
        height: 2.5dvh;
      }

      select {
        width: 15dvw;
        box-sizing: border-box;
        font-size: 23px;

        option {
          font-size: 18px;
        }
      }

      label {
        display: block;
        text-align: left;
        font-size: 20px;
        font-weight: bold;
        margin-bottom: 0.5dvh;
      }
    }
  }

}