.order-success-wrapper {
  background-color: beige;
  padding: 0.1px;
  margin: 0px;
  height: 98dvh;
}

.order-success-container {
  box-shadow: 1px 1px 5px black;
  width: 60%;
  margin: 10dvh auto auto auto;
  color: black;
  background-color: white;
  padding: 1rem;
  border-radius: 10px;

  display: flex;

  .left-side {
    width: 50%;

    .billing-information {
      width: 90%;
      margin: auto;

      h2 {
        text-align: left;
      }

      .back-link {
        margin-top: 5dvh;
      }

      div {
        display: flex;
        align-items: center;
        gap: 4dvw;

        p {
          width: 80%;
          text-align: left;
        }

        h3 {
          width: 20%;
          text-align: left;
        }
      }
    }
  }

  .right-side {
    width: 50%;
    background-color: rgb(255, 255, 237);

    h2 {
      text-align: left;
      margin-left: 3.5dvw;
    }

    hr {
      width: 80%;
    }

    .order-data {
      display: flex;
      margin: 1dvh 1dvw;
      justify-content: space-evenly;
      text-align: left;

      div {
        max-width: 33%;
        p {
          line-height: 0;
        }
      }
    }

    .order-items-container {
      display: flex;
      width: 80%;
      height: 8dvh;
      margin: 5%;
      justify-content: space-between;

      p {
        text-align: left;
        line-height: 0;
        font-size: 12px;
      }

      h4 {
        line-height: 0;
      }
    }


    .order-total {
      margin: 5%;
    }
  }
}
